<h1>Actions</h1>
<ion-item-group>
  <ion-item-divider color="light">Effets de vent</ion-item-divider>
  <ion-item *ngFor="let action of actions">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <h2>Action de {{action.getCreator()}}</h2>
          <h3>Params: {{action.getSpeed()}} km/h direction {{action.getDirection()}}</h3>
        </ion-col>
        <ion-col col-2>
          <button ion-button (click)="vote(action)" [disabled]="!canVote()">Voter</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-item-group>
