<ion-grid>
  <!--<ion-row>
    <ion-slides>
      <ion-slide style="width: 100%" *ngFor="let action of actions"> 
          <action-visualizer id="theid" [action]="action" title="Action de vent" [socketID]="socket.ioSocket.id" (actionDropped)="moveActionInBox($event)"></action-visualizer>
      </ion-slide>
    </ion-slides>
  </ion-row>-->
  <ion-row>
    <ion-col *ngIf="actions && actions.length > 0">
      <action-visualizer draggable id="theid" [action]="displayedAction" title="Action de vent" [socketID]="socket.ioSocket.id"
        (actionDropped)="moveActionInBox($event)" (swipeRightEvent)="getNextAction()" (swipeLeftEvent)="getPrevAction()"></action-visualizer>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div id="container-for-votes" [hidden]="!actions || actions.length === 0">
        <ion-grid>
          <ion-row>
            <ion-col *ngIf="hasDropVote" xs8>
              <img *ngIf="!hasVoted" src="../../assets/imgs/vote.png" id="vote-img">
              <img *ngIf="hasVoted" src="../../assets/imgs/hasVoted.PNG" id="vote-img">
              <button ion-button class="delete-btn" clear color="dark" (click)="cancelVote()">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </button>
            </ion-col>
            <ion-col *ngIf="!hasDropVote">
              <h2 class="drop-h1">Déposez votre vote dans cette boite!</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="!actions || actions.length === 0">
      <h2 class="no-action">Pas d'action pour cette fois!</h2>
    </ion-col>
  </ion-row>
</ion-grid>
