<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="game" class="card-background-page">
  <ion-card (click)="navigateToWindEffectGeneratorPage(game)"> 
    <img src="../../assets/imgs/weather.jpg" />
    <div class="card-title">Effets météo (vent)</div>
  </ion-card>
  <div *ngIf="actions.length > 0">
    <ion-list>
      <ion-list-header>
        Actions
      </ion-list-header>
      <ion-item *ngFor="let action of actions">
        <h2>{{ action.getTypeAsString() }}</h2>
        <h3>Action ajoutee par {{ action.creator }}</h3>
        <div>Vitesse = {{ action.speed }}km/h - Direction = {{ action.direction }}</div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
