.logo {
    width: 50%;
    margin: auto;
    padding: 10px;
}

q {
    margin-top: 0.7em;
    font-size: 1.3em;
    margin-bottom: 12px;
}

.header {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-bottom: 22px;
}