.ion-card-header {
    background: aliceblue;
}

.label {
    margin: 0;
    font-size: 15px;
}

ion-segment {
    margin-bottom: 12px;
}

.speed {
    display: inline-block;
    margin-top: 43%;
    font-size: 18px;
    width: 100%;
}

.speed-value {
    font-size: 45px;
}

.direction {
    display: inline-block;
    margin-top: 43%;
    font-size: 38px;
    width: 100%;
}

p {
    text-align: justify;
}